@config "../../tailwind.config.ts";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #F8FAFC; /* Slate 50 */
  --color-surface: #FFFFFF;
  --color-text-main: #0F172A; /* Slate 900 */
  --color-text-muted: #64748B; /* Slate 500 */
  --color-primary: #2563EB; /* Blue 600 */
  --color-primary-hover: #1D4ED8; /* Blue 700 */
  --color-secondary: #0EA5E9; /* Sky 500 */
}
